<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=$sourceEncoding$">
		
		<title>Jasmine Spec Runner</title>
		
		<link rel="shortcut icon" type="image/png" href="src/test/lib/jasmine/jasmine_favicon.png">
		
		<style type="text/css" src="src/test/lib/jasmine/jasmine.css"></style>
		
		<script type="text/javascript" src="src/test/lib/jasmine/jasmine.js"></script>
		
		<script type="text/javascript" src="src/js/lib/require/require.min.js" data-main="src/test/config"></script>
		<script type="text/javascript" src="src/test/lib/testr/testr.js"></script>
	</head>
	<body>
		
	</body>
</html>